@import "nullstyle.scss";
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
input ::-webkit-input-placeholder { color: black;}

.wrapper{
    font-family: 'Roboto', sans-serif;
    min-height: 100%;
    overflow: hidden;
    .container{
        max-width: 1000px;
        margin: 0 auto;
        padding: 20px;
        #easter_egg{
            width: 100px;
        }
    }
}

.inputs_for_currency{
    display: flex;
    justify-content: center;
}

.input_and_currencies{
    .input_for_currency{
        border-radius: 5px;
        display: flex;
        align-items: center;
        overflow: hidden;
        border: solid #c5cad8 2px;
        
        input{
            width: 300px;
            height: 50px;
            padding: 10px;
            font-size: 30px;
        }
        button{
            width: 90px;
            max-height: 50px;
            padding: 8px;
            color: #0390fc;
            background-color: #fff;
            font-size: 30px;
        }
        button:hover{
            color: #FC9704;
        }
    }
}

img{
    height: 50px;
    transition: transform 0.15s ease;
}

ul{
    position: absolute;
    width: 395px;
    overflow: hidden;
    border-radius: 5px;
    margin-top: 5px;
    background-color: #fff;
    border: 2px solid #c5cad8;
    li{
        font-size: 25px;
        cursor: default;
        padding: 10px;
    }
}


@media (max-width: 880px){
    .container{
        width: 300px;
    }
    .inputs_for_currency{
        
        flex-wrap: wrap;
    }
    img{
        margin: 20px 0 20px 0;
    }
}


li:hover{
    background-color: #FFF0DE;
}